---
---

@import "normalize-scss/normalize";
@import "syntax";
@import "icons";

$green: #1ABC9C;
$gray: #485665;
$max-width: 760px;

html {
  font-size: 19px; // for rem
}

body {
  font-family: 'Roboto', sans-serif;
  color: $gray;
  line-height: 1.5;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3,
h4 {
  margin-top: 4rem;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2rem;
  line-height: 1.15;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

h3 ~ h4 {
  margin-top: 2rem;
}

img {
  max-width: 100%;
}

a {
  color: $green;
  text-decoration: none;
}

blockquote {
  quotes: "“" "" "‘" "’";
  margin-left: 0;
  padding-left: 2.5rem;
  margin-right: 1rem;
  font-style: italic;
  color: rgba(72, 86, 101, 0.8);
  position: relative;

  &::before {
    position: absolute;
    content: open-quote;
    font-size: 4rem;
    font-family: sans-serif;
    left: 0;
    top: -5px;
    line-height: 1;
    color: rgba(72, 86, 101, 0.6);
  }

  &::after {
    content: close-quote;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(72, 86, 101, 0.2);
  width: 60%;
  margin-top: 4rem;
  margin-bottom: 4rem;
  margin-left: auto;
  margin-right: auto;
}

pre,
code {
  font-family: 'Roboto Mono', monospace;
}

code {
  background-color: #f4f4f4;
  padding: 0.15em 0.4em;
  border-radius: 4px;
  font-size: 0.85em; // micro-tweak for roboto mono font
}

pre > code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  font-size: 0.85em;
}

// remove margins on code blocks totally
figure {
  margin-left: 0;
  margin-right: 0;
}

// helpers
.text-center {
  text-align: center;
}

// layout
.container {
  max-width: $max-width;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: auto;
  margin-right: auto;
}

// titles
.post-title {
  max-width: 80%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  text-transform: uppercase;
}

// code blocks
.highlight {
  background: #f4f4f4;
  border-left: 12px solid rgba(72,86,101,0.2);
  padding: 1rem;

  pre {
    margin: 0;
  }
}

// posts
.nav-post {
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 0.9rem;

  .has-cover-photo & {
    a {
      color: #fff;
    }
  }
}

.post-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 280px;

  .has-cover-photo & {
    color: #fff;
    margin-bottom: 4rem;
  }

  .page-jumbo & {
    padding-bottom: 4rem;
  }
}

// published dates / times
.publish-date {
  font-size: 0.8rem;
  color: rgba(72, 86, 101, 0.8);

  .has-cover-photo & {
    color: rgba(255, 255, 255, 0.8);
  }
}

.publish-time {
  text-transform: uppercase;
  font-weight: bold;
  color: $gray;

  sup {
    text-transform: none;
  }

  .has-cover-photo & {
    color: rgba(255, 255, 255, 0.9);
  }
}

// tags
.tags-list {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0.63rem;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tags-list-inline {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tag-list-item {
  padding: 0.15em 0.4em;
  margin-bottom: 0.15em;
  background-color: $gray;
  margin-right: 5px;
  text-transform: uppercase;
  color: #fff;

  .tags-list-inline & {
    display: inline-block;
  }
}

// index
.post-teaser {
  margin-bottom: 2rem;
}

.home-header {
  background-color: $green;
  background-image: url('/img/cover-js-laptop-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-bottom: 4rem;

  @media only screen and (min-width: 600px) and (max-width: 1100px) {
    background-image: url('/img/cover-js-laptop-tablet.jpg');
  }

  @media only screen and (min-width: 1101px) {
    background-image: url('/img/cover-js-laptop-desktop.jpg');
    padding-bottom: 5rem;
    background-position: center 66%;
  }
}

.home-logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  margin-left: 0.75em;
  font-size: 0.8rem;
  position: relative;
  top: 3px;
}

.home-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-transform: uppercase;

  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
}

.home-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.home-menu-item {
  display: inline-block;

  a {
    margin-left: 1em;
    font-size: 0.8rem;
    padding: 0.75em;

    .home-header & {
      color: #fff;
    }
  }
}

.home-intro {
  margin-left: 1rem;
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;

  a {
    font-weight: bold;
    color: #fff;
  }
}

.home-intro-text,
.page-jumbo .page-title {
  text-transform: uppercase;
  margin-bottom: 1em;

  @media only screen and (min-width: 600px) and (max-width: 1100px) {
    font-size: 2.7rem;
  }
  @media only screen and (min-width: 1101px) {
    font-size: 3.5rem;
    margin-top: 5rem;
    line-height: 1;
  }
}

.home-social-icons {
  font-size: 1.3rem;

  a {
    color: #fff;
    display: inline-block;
    margin-right: .5em;
  }
}

.self-intro {
  padding-top: 4em;
  font-size: 1.3em;
}

.post-cover-photo {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  &.has-cover-photo {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.post-teaser {
  .post-title {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    max-width: 100%;
    font-size: 1.25rem;
    font-weight: normal;
  }

  .publish-time {
    text-transform: initial;
    font-weight: normal;
    font-size: 0.7rem;
    color: #aaa;
    margin-bottom: 0;
  }

  .tags-list-inline {
    margin-top: 0.5em;
  }

}

.post-teaser-thumbnail {
  min-width: $max-width / 3;
  min-height: $max-width / 3;
  background-position: center;
  background-size: cover;
}

.home-link-blog {
  text-transform: uppercase;
  font-weight: bold;
}

.home-footer {
  margin-top: 60px;
  margin-bottom: 60px;
}

// blog page
.blog-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.blog-year-title {
  margin-top: 6rem;
}

.sharing {
  font-size: 2rem;
}

.btn-share {
  display: inline-block;
  margin-left: 0.25em;
  margin-right: 0.25em;
}

// video embed
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hide-print {
  @media print {
    display: none;
  }
}

.comments {
  margin-top: 3rem;
  margin-bottom: 4rem;

  @media only screen and (min-width: 600px) {
    margin-top: 6rem;
    margin-bottom: 8rem;
  }

  button {
    border: 1px solid rgba(72,86,101,0.2);
    padding: 1em 3em;
    background: transparent;
    color: $gray;
    font-weight: bold;

    &.hidden {
      display: none;
    }
  }
}

.edit-link {
  font-style: italic;
  font-size: 0.9em;
  display: inline-block;
  margin-top: 30px;
}
