---
---

@import "normalize-scss/normalize";
@import "syntax";

$green: #1ABC9C;
$gray: #485665;

html {
  font-size: 19px; // for rem
}

body {
  font-family: 'Roboto', sans-serif;
  color: $gray;
  line-height: 1.5;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 2rem;
  line-height: 1.15;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.25rem;
}

a {
  color: $green;
  text-decoration: none;
}

blockquote {
  quotes: "“" "" "‘" "’";
  margin-left: 0;
  padding-left: 2.5rem;
  margin-right: 1rem;
  font-style: italic;
  color: rgba(72, 86, 101, 0.8);
  position: relative;

  &::before {
    position: absolute;
    content: open-quote;
    font-size: 4rem;
    font-family: sans-serif; // open sans' quotes look crappy
    left: 0;
    top: -5px;
    line-height: 1;
    color: rgba(72, 86, 101, 0.6);
  }

  &::after {
    content: close-quote;
  }
}

hr {
  border: 0;
  border-bottom: 1px solid rgba(72, 86, 101, 0.2);
  width: 60%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

pre,
code {
  font-family: 'Inconsolata', monospace;
}

code {
  background-color: #f4f4f4;
  padding: 0.2rem 0.5rem;
  border-radius: 4px;
}

pre > code {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  font-size: 1em;
}

.highlight {
  background: #f4f4f4;
  border-left: 12px solid rgba(72,86,101,0.2);
  padding: 1rem;

  pre {
    margin: 0;
  }
}

// helpers
.text-center {
  text-align: center;
}

.container {
  padding-right: 1rem;
  padding-left: 1rem;
}

.publish-date {
  font-size: 0.8rem;
  color: rgba(72, 86, 101, 0.8);
}

.publish-time {
  text-transform: uppercase;
  font-weight: bold;
  color: $gray;

  sup {
    text-transform: none;
  }
}

// posts
.nav-post {
  padding-top: 1rem;
  padding-bottom: 1rem;
  // background-color: rgba(255, 99, 71, 0.1); // green + 0.1
  font-size: 0.9rem;
}

.post-header {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

// tags
.tags-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  font-size: 0.7rem;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
}

.tag-list-item {
  padding: 0.3em 0.5em;
  background-color: $green;
  margin: 0 5px;
  text-transform: uppercase;

  color: #fff;
}
