.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.aligncenter {
    text-align: center;
}

blockquote {
    border-left: 6px solid #aeaeae;
    margin-left: 0;
    padding-left: 15px;
    color: #666;
}

code {
    padding: 2px 4px;
    background-color: #FFECD7;
    border-bottom: 1px solid #F5E1CB;
}

pre {
    border: 1px solid #e3e3ed;
    text-shadow: none;
    code {
        border-radius: 0;
        border-bottom: 0;
    }
}
