@import "lanyon/poole";
@import "lanyon/syntax";
@import "lanyon/lanyon";
@import "prism";

// share buttons
.btn-share {
  font-family: sans-serif;
  color: white;
  font-size: 0.9em;
  padding: 0.5em 1em;
  display: inline-block;
  margin-right: 1em;
  border-bottom: 0;
  border-radius: 4px;
	transition: background-color 0.3s ease-in-out;
	&:hover {
    color: white;
  }
}

.sharing a.btn-share {
  color: white;
}

.btn-share:visited {
  color: white;
}

.btn-share-twitter {
  background-color: #55acee;
  &:hover {
    background-color: darken(#55acee, 15%);
  }
}

.btn-share-google-plus {
  background-color: #dd4b39;
  &:hover {
    background-color: darken(#dd4b39, 15%);
  }
}
.btn-share-facebook {
  background-color: #3b5998;
  &:hover {
    background-color: darken(#3b5998, 15%);
  }
}
