@font-face {
	font-family: 'moon';
	src:url('../fonts/moon.eot');
	src:url('../fonts/moon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/moon.woff') format('woff'),
		url('../fonts/moon.ttf') format('truetype'),
		url('../fonts/moon.svg#moon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'moon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-soundcloud:before {
	content: "\e600";
}
.icon-github:before {
	content: "\e601";
}
.icon-code:before {
	content: "\e602";
}
.icon-console:before {
	content: "\e603";
}
.icon-twitter:before {
	content: "\e604";
}
.icon-google-plus:before {
	content: "\e605";
}
.icon-facebook:before {
	content: "\e606";
}
.icon-instagram:before {
	content: "\e607";
}
.icon-apple:before {
	content: "\e608";
}
.icon-android:before {
	content: "\e609";
}
