---
layout: default
---

<div class="home">
  {% if site.theme.header_text %}
  <div class="call-out"
  style="background-image: url('{{ site.baseurl }}/{{ site.theme.header_text_feature_image }}')">
     <p>My name is Armno. I am a web developer at <strong><a href="http://www.buzzwoo.de">BUZZWOO! Asia</a></strong>. I enjoy working with JavaScript, Angular, and Cordova. This is my blog about web and my development workflow. <small><a href="https://armno.github.io/about/index.html">More about me →</a></small></p>

    <ul class="callout-social-links">
      <li>
        <a href="https://github.com/armno"><i class="fa fa-github-square"></i></a>
      </li>
      <li>
        <a href="https://twitter.com/armno"><i class="fa fa-twitter-square"></i></a>
      </li>
      <li>
        <a href="https://instagram.com/armno"><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
  </div>
  {% endif %}

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      <header>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h1>
        <p class="meta">
          {{ post.date | date: "%B %-d, %Y" }}
        </p>
      </header>
      <div class="excerpt">
        {{ post.description }}
        <div>
          <a class="button" href="{{ post.url | prepend: site.baseurl }}">
            {{ site.theme.str_continue_reading }}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      <i class="fa fa-chevron-left"></i>
      {{ site.theme.str_prev }}
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      {{ site.theme.str_next }}
      <i class="fa fa-chevron-right"></i>
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
