---
layout: default
---

  <div class="posts">
    {% for post in paginator.posts %}
    <div class="post-teaser">
      <header>
        <h1>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            {{ post.title }}
          </a>
        </h1>
        <p class="meta">
          {{ post.date | date: "%B %-d, %Y" }}
        </p>
      </header>
      <div class="excerpt">
        {{ post.description }}
        <div>
          <a class="button" href="{{ post.url | prepend: site.baseurl }}">
            {{ site.theme.str_continue_reading }}
          </a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  {% if paginator.total_pages > 1 %}
  <div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      Previous page
    </a>
    {% endif %}
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="button" >
      Next page
    </a>
    {% endif %}
  </div>
  {% endif %}
</div>
