<section class="sharing hide-print">
  <h4 class="title-sharing">Share this post</h4>
  <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&via=armno&text={{ page.title }}" target="_blank" class="btn-share btn-share-twitter">
    <span class="fa fa-twitter-square"></span>
  </a>

  <a href="http://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" class="btn-share btn-share-google-plus">
    <span class="fa fa-google-plus-square"></span>
  </a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" class="btn-share btn-share-facebook">
    <span class="fa fa-facebook-square"></span>
  </a>
</section>
