<section class="sharing hide-print text-center">
  <h4 class="title-sharing">Share</h4>

  <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&via=armno&text={{ page.title }}" target="_blank" class="btn-share">
    <i class="icon-twitter"></i>
  </a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" target="_blank" class="btn-share">
    <i class="icon-facebook"></i>
  </a>

  <a href="http://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" class="btn-share">
    <i class="icon-google-with-circle"></i>
  </a>
</section>
