<section class="sharing">

  <a href="https://twitter.com/share?url={{ site.url }}{{ page.url }}&via=armno&text={{ page.title }}" target="_blank" class="btn-share btn-share-twitter">Share on Twitter</a>

  <a href="http://plus.google.com/share?url={{ site.url }}{{ page.url }}" target="_blank" class="btn-share btn-share-google-plus">Share on Google+</a>

  <a href="https://www.facebook.com/dialog/feed?app_id=127330613993014&display=page&link={{ site.url }}{{ page.url }}&redirect_uri={{ site.url }}{{ page.url }}&name={{ page.title }}&description={{ page.description }}" target="_blank" class="btn-share btn-share-facebook">Share on Facebook</a>
</section>