// Header text feature
.call-out {
  @extend %padding-regular;
  display: inline-block;
  width: 100%;
  background-color:$header-desc-background-color;
  background-size: cover;
  background-position: center;
  font-size: 1.6rem;
  text-align: center;
  color: $header-desc-text-color;
  padding-top: 9%;
  padding-bottom: 9%;

  a {
    color: #fff;
    border-bottom: 1px dotted;
  }

  p {
    line-height: 1.6;
  }

  small {
    font-size: 60%;
    opacity: 0.8;
  }
}

.call-out p:last-child {
  margin-bottom: 0;
}

// social media icons
.callout-social-links {
  list-style: none;
  font-size: 2.4rem;

  li {
    display: inline-block;
    margin: 0 0.35rem;
  }

  a {
    border-bottom: 0;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

// Post listing
.posts {
  .post-teaser {
    @extend %padding-regular;
    width: 100%;
    margin-bottom: 0;
    display: inline-block;
    background-size: $feature-image-size;
    border-bottom: 1px solid $border-color;
    p a:hover {
      @extend %link-hover;
    }
  }
  .excerpt {
    margin-top: 1em;
  }
}
// Pagination
.pagination .button {
  margin: 0 1.5em;
  i {
    vertical-align: middle;
  }
}
.pagination {
  padding: $padding-small $padding-large 0 $padding-large;
  text-align: center;
}
