---
layout: default
---

<nav class="container nav-post">
  <a href="{{ '/' | prepend: site.baseurl }}">« Home</a>
</nav>
<article class="container">
  <header class="post-header">
    <h1 class="text-center">{{ page.title }}</h1>

    {% if page.is_post %}
    <div class="text-center publish-date">
      Published on
      <span class="publish-time">
      {% assign d = page.date | date: "%-d" s %}
      {% case d %}
        {% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>
        {% when '2' or '22' %}{{ d }}<sup>nd</sup>
        {% when '3' or '23' %}{{ d }}<sup>rd</sup>
        {% else %}{{ d }}<sup>th</sup>
        {% endcase %}
      {{ page.date | date: "%B, %Y" }}
      </span>
    </div>
    {% endif %}

    {% if page.tags %}
    <ul class="tags-list">
      {% for tag in page.tags %}
      <li class="tag-list-item">{{ tag | prepend: '#' }}</li>
      {% endfor %}
    </ul>
    {% endif %}

  </header>

  {{ content }}

</article>

<hr>

<!-- Disqus -->
{% if page.is_post %}
<div class="comments hide-print">
  {% include disqus.html %}
</div>
{% endif %}
