---
layout: default
---

<nav class="container nav-post">
  <a href="{{ site.url }}">« Home</a>
</nav>
<article class="container">
  <header class="post-header">
    <h1 class="text-center">{{ page.title }}</h1>

    <div class="text-center publish-date">
      Published on
      <span class="publish-time">
      {% assign d = page.date | date: "%-d" s %}
      {% case d %}
        {% when '1' or '21' or '31' %}{{ d }}<sup>st</sup>
        {% when '2' or '22' %}{{ d }}<sup>nd</sup>
        {% when '3' or '23' %}{{ d }}<sup>rd</sup>
        {% else %}{{ d }}<sup>th</sup>
        {% endcase %}
      {{ page.date | date: "%B, %Y" }}
      </span>
    </div>

    {% if page.tags %}
    <ul class="tags-list">
      {% for tag in page.tags %}
      <li class="tag-list-item">
        <a href="{{ site.url }}/tags/{{ tag }}">{{ tag }}</a>
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </header>
  {{ content }}

  {% include share.html %}
</article>

<!-- Disqus -->
{% if site.theme.disqus_shortname %}
<div class="comments hide-print">
  {% include disqus.html %}
</div>
{% endif %}
