@font-face {
	font-family: 'fa';
	src:url('../fonts/fa.eot?a6pa4h');
	src:url('../fonts/fa.eot?#iefixa6pa4h') format('embedded-opentype'),
		url('../fonts/fa.woff?a6pa4h') format('woff'),
		url('../fonts/fa.ttf?a6pa4h') format('truetype'),
		url('../fonts/fa.svg?a6pa4h#fa') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="fa-"], [class*=" fa-"] {
	font-family: 'fa';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-chevron-left:before {
	content: "\f053";
}

.fa-chevron-right:before {
	content: "\f054";
}

.fa-twitter-square:before {
	content: "\f081";
}

.fa-facebook-square:before {
	content: "\f082";
}

.fa-github-square:before {
	content: "\f092";
}

.fa-google-plus-square:before {
	content: "\f0d4";
}

.fa-envelope:before {
	content: "\f0e0";
}

.fa-rss-square:before {
	content: "\f143";
}

.fa-instagram:before {
	content: "\f16d";
}

.fa-dribbble:before {
	content: "\f17d";
}

.fa-behance:before {
	content: "\f1b4";
}

.fa-facebook-official:before {
	content: "\f230";
}

